body{
    background-color:rgb(196, 228, 255);
}    
    
/* form {
    margin-top: 15%;
    
} */

.image {
    margin-top: 70px;
    width: auto;
    height: 400px; 
}

/* .form-label {
    color: white;
} */

.botao {
    margin-top: 30px;
}

.btn {
    color: white;
    width: 100%;
    font-size: 20px;
}

a {
    margin-top: 15px;
}

.user {
    margin-top: 55%;
}